*{box-sizing:border-box;
	
 }
body{
	  background-color:ivoiry;
	  margin:0px;
	  font-family: 'Roboto', sans-serif;
	  }
	  
	  
.slideshow-container {
  max-width: 1000px;
  height:600px;
  position: relative;
  margin: auto;
  margin-top:20px;
  margin-bottom:5px;
}
.testata{
  height:100px;
  width: 1000px;
  background-color: gray;
  text-align:center;
	
}
.button {
  height:50px;
  width: 100px;
  background-color: #bbb;
  border-radius: 20%;
  margin-top:20px;
  display: inline-block;
  transition: background-color 0.6s ease;
  ;
}
.button img{
  height: 100%;
  width: 100%;
}
.mySlides {display: none;
    height:500px;}
.mySlides img {
	vertical-align: middle;
    width: 100%;
    height:90%;}
	
.text {
  color:black;/* #f2f2f2*/
  font-size: 15px;
  padding: 8px 12px;
  /*position: absolute;*/
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 100px;
  width: 200px;
  background-color: lightgray;
  /*border-radius: 50%;*/
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot img{
  height: 100%;
  width: 100%;
	
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
	